@import "tailwindcss";
@import "./../assets/font/pretendard/pretendardvariable.css";
@import "./../assets/font/notoserif/notoserif.css";
@import "./../assets/font/suit/SUIT-Variable.css";


@theme{
  /* 기본 font-family 설정("Pretendard Variable") */
  --font-*: initial;
  --font-sans: "Pretendard Variable", sans-serif; 
  --font-serif: "Noto Serif KR", serif; 
  --font-suit: "SUIT Variable", sans-serif;

  /* Index Layout을 위한 그리드 관련 변수 */
  --lion: repeat(auto-fit, minmax(200px, 1fr));
  --animate-wobble: wobble 0.6s infinite ease-in-out;

  /* 이디야 기본 블로 */
  --color-ediya-blue-100: #A7D1E7;
  --color-ediya-blue-200: #2C68AE;
  --color-ediya-blue-300: #24388D;
  /* 원형 그라디언트 변수 */
  --ediya-blue: linear-gradient(-45deg, var(--color-ediya-blue-200), var(--color-ediya-blue-300));
  
  @keyframes wobble {
    0%, 100% {
        transform: translateX(0%) rotate(0deg);
    }
    15% {
        transform: translateX(-15px) rotate(-5deg);
    }
    30% {
        transform: translateX(10px) rotate(3deg);
    }
    45% {
        transform: translateX(-10px) rotate(-3deg);
    }
    60% {
        transform: translateX(5px) rotate(2deg);
    }
    75% {
        transform: translateX(-5px) rotate(-1deg);
    }
  }
}

@layer components{
  .notice{
    @apply flex border border-green-700 bg-blue-950;
    >div{
      @apply p-4 text-white w-[200px] relative;
    }
  }
}

@keyframes wobble{

}