@import "tailwindcss";
@import "./../assets/font/pretendard/pretendardvariable.css";
@import "./../assets/font/notoserif/notoserif.css";
@import "./../assets/font/suit/SUIT-Variable.css";


@theme{
  /* 기본 font-family 설정("Pretendard Variable") */
  --font-*: initial;
  --font-sans: "Pretendard Variable", sans-serif; 
  --font-serif: "Noto Serif KR", serif; 
  --font-suit: "SUIT Variable", sans-serif;

  /* Index Layout을 위한 그리드 관련 변수 */
  --lion: repeat(auto-fit, minmax(200px, 1fr));
  --animate-wobble: wobble 0.6s infinite ease-in-out;

  @keyframes wobble{
    0%, 100%{
      transform: translateX(0%), rotate(0deg);
    }
    15%{
      transform: translateX(-15px) rotate(-5deg);
    }
    30%{
      transform: translateX(15px) rotate(5deg);
    }
  }
}

@layer components{
  .notice{
    @apply flex border border-green-700 bg-blue-950;
    >div{
      @apply p-4 text-white w-[200px] relative;
    }
  }
}

@keyframes wobble{

}