@import "tailwindcss";

@theme{
  /* Tailwind 일부 설정 재정의 */
  /* --color-*: initial; */
  /* --color-lion: hsl(20, 50%, 50%); */
  --color-apple-white: #F5F5F7;
  --color-apple-black: #1D1D1F;
  --color-apple-red: #D11719;
  --color-apple-gray: #86868B;
  --color-apple-blue-100: #2997ff;
  --color-apple-blue-200: #0077ED;
  --color-apple-blue-300: #0071e3;
  --color-apple-blue-400: #006EDB;

  --spacing-11: 44px;
  
}